<% layout("/layouts/boilerPlate") %>



<div class="row heading" >

    <div class="alert alert-danger col-6 offset-3 mt-6" role="alert">
        <h3 class="text-center alert-heading">Error: <%=message%></h3>
        
    </div>
</div>
  